In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datos/ID2Primer_S141_L001_R_001_allAligment.csv')

In [3]:
df.shape

(22331, 2)

In [8]:
df = df.sample(int(df.shape[0] / 4))
df.shape

In [9]:
df.columns

Index(['Sequences', 'NumReads'], dtype='object')

In [5]:
df.head(3)

                   Sequences  NumReads
0  TGTCCTCCCGTT-ACCCTCGTTCAC         1
1  TCCAGTCTTTCT-ACCCTCGTTCAC         8
2  CGTGTAAAGAAT-CAGTAGTAGTTG        92

In [6]:
df.tail(5)

                       Sequences  NumReads
22326  CAAATCCCCCTA-GAAAGTTTAGTT         1
22327  TATGCAGCTCAT-TCCCCCATTCGA         1
22328  TTCCGCATGGCG-GGATTTCGGGTA         1
22329  ACTTAGCTCCAG-GTGAAATGAAAA         1
22330  TAAACTTCCGCA-AGCCCCCCTGGA         1