In [1]:
import pandas as pd
from itertools import combinations

# Load Data

In [2]:
df = pd.read_csv('datos/ID2Primer_S141_L001_R_001_allAligment.csv') 

# de una vez extraemos ID y BC y las agregamos como nuevas columnas
df = (df
      .join(  # we inner join the extracted 2-column dataframe into the original one
          df.Sequences.str.extract(r'([A-Z]+)-([A-Z]+)'),  # the regex captures and extracts 2 groups, ID and BC
          how='inner'
      )
      .rename(columns={0: 'ID', 1: 'BC'}))  # the extracted columns are named 0 and 1, we rename them
df.shape

(22331, 4)

In [3]:
df.BC.nunique()  # counts number of unique bar codes present in column BC

1293

In [4]:
df = df.sample(int(df.shape[0] / 4))  # sample 1/4 of the data to work with smaller dataset
df.shape

(5582, 4)

In [5]:
df.columns

Index(['Sequences', 'NumReads', 'ID', 'BC'], dtype='object')

In [6]:
df.sample(2)

                      Sequences  NumReads            ID            BC
3167  ACTATTTTCCCT-CTATATGGCGGG         1  ACTATTTTCCCT  CTATATGGCGGG
6382  ACCTGTTTGAAC-TCTTCCAACGGT         1  ACCTGTTTGAAC  TCTTCCAACGGT

In [7]:
df = df.loc[(df['ID'].map(len) == 12) & (df['BC'].map(len) == 12)]
df.shape

(5476, 4)